* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}
.row {
  width: 90%;

  margin: auto;
}
.col-right {
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}
.col-center {
  background-color: red;
  text-align: center;
  color: white;
  font-size: 3rem;
}
.col-left {
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}
label {
  margin-top: 1rem;
}
.btn {
  margin-top: 10rem;
  margin-bottom: 0.5rem;
}
.div-img1 {
  width: 7rem;
  height: 7rem;
  border: 1px solid white;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.div-img2 {
  width: 7rem;
  height: 7rem;
  border: 1px solid white;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#img1 {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-size: cover;
  margin: auto;
}
#img2 {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media screen {
}
